<div class="card shadow-sm bg-white rounded m-2 h-100">
   <div class="card-img-container">
      <img src="<%=image %>" class="card-img-top p-0" alt="An image of the <%= name %> project">
   </div>
   <div class="card-body">
      <div class="card-title text-center">
         <h3 class="font-strong fs-4 mb-3">
            <%= name %>
         </h3>
      </div>
   </div>
   <div class="card-footer bg-transparent border-0 text-center pb-3">
      <a href="/project/<%= ident %>"
         class="btn font-standard py-2 px-4 shadow-sm rounded bg-gradient bg-black bg-opacity-10">
         Exemplum Laboris
      </a>
   </div>
</div>