# --
*.lock

# certs directory
/certs/

# temp directory
/.temp/

# fresh directory
_fresh/

# vscode settings
/.vscode/

# fresh public directory
/.public/

# htmlhint files
.htmlhintrc

# npm dependencies
/node_modules/

# dotenv files
.env
.env.local
.env.test.local
.env.production.local
.env.development.local
