@import url("https://use.typekit.net/fgx8bim.css");

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: white;
}

.hero-section {
  background-image: url("/images/backdrop.svg");

  /**/

  min-height: 105vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-section {
  background-image: url("/images/backdrop-alt.svg");

  /**/

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.font-standard {
  font-family: "halcom-variable", sans-serif;
  font-variation-settings: "ital" 0, "wght" 300;
}

.font-italic {
  font-family: "halcom-variable", sans-serif;
  font-variation-settings: "ital" 1, "wght" 250;
}

.font-thin {
  font-family: "halcom-variable", sans-serif;
  font-variation-settings: "ital" 0, "wght" 200;
}

.font-strong {
  font-family: "halcom-variable", sans-serif;
  font-variation-settings: "ital" 0, "wght" 500;
}

.font-shadow {
  text-shadow: 2.5px 3.5px 4.5px rgba(0, 0, 0, 0.1);
}
