*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: blue;
}

.area {
  min-height: 750px;
}

.spacer {
  min-height: 75px;
}

.noto-sans-300 {
  font-weight: 300;
  font-style: normal;
  font-optical-sizing: auto;
  font-family: "Noto Sans", serif;
  font-variation-settings: "wdth" 300;
}

.noto-sans-700 {
  font-weight: 700;
  font-style: normal;
  font-optical-sizing: auto;
  font-family: "Noto Sans", serif;
  font-variation-settings: "wdth" 700;
}
